<launch>
        <!-- ////////////////////////////////LAUNCH SCREW DETECTOR RELATED STUFF \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <!-- node name="ugoe_screw_detection_ros" type="candidate_generator.py" pkg="ugoe_screw_detection_ros" output="screen"/ -->

        <!-- ////////////////////////////////LAUNCH GAP DETECTOR RELATED STUFF \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <node name="preprocessing_node" type="preprocessing_node" pkg="ugoe_gap_detection_ros" output="screen"/>
        <!-- node name="ugoe_gap_detection_ros" type="gap_detector.py" pkg="ugoe_gap_detection_ros" output="screen"/ -->
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ugoe_gap_detection_ros)/rviz_config.rviz" />

        <!-- ////////////////////////////////LAUNCH THE PERCEPTION WRAPPER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <node name="ugoe_imagine_ros_node" type="perception_wrapper.py" pkg="ugoe_imagine_ros" output="screen"/>
        <node name="tilted_cloud_node" type="tilted_cloud.py" pkg="ugoe_imagine_ros" output="screen"/>

        <!-- ////////////////////////////////LAUNCH THE CLOUD COLLECTOR \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <node name="cloud_collector_node" type="cloud_collector.py" pkg="ugoe_imagine_ros" output="screen"/>

        <!-- ////////////////////////////////LAUNCH THE UI \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="-s reconfigure"/>

</launch>
