<launch>
        <!-- ////////////////////////////////LAUNCH ADESDB \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <arg name="motiondb" default="/common/homes/staff/imagine-user/repo/ades_database_kitgripper_git/ades2_1/motiondb"/>
        <arg name="ades2db" default="/common/homes/staff/imagine-user/repo/ades_database_kitgripper_git/ades2_1/ades2db"/>

        <node name="uibk_ades2db" type="ades2db" pkg="uibk_libades_ros" ns="ades" args="--home $(arg ades2db)" output="screen"/>

        <node name="uibk_motiondb" type="motiondb" pkg="uibk_libades_ros" ns="ades" args="--home $(arg motiondb)" output="screen"/>
</launch>
